/FASTAPI/.venv
/FASTAPI/__pycache__
/FASTAPI/practice/.venv
/FASTAPI/fastapi-ml-k8s/.venv
/FASTAPI/fastapi-pre/.venv
/study
.env

/fastmcp-satellite/venv
/fastmcp-satellite/data

# Python
/fastmcp-satellite/__pycache__
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# OS / editor
.DS_Store
/LangChain/.venv

.env
/LangChain/.venv
UV_test/uv-demo/requirements.txt
UV_test/uv-demo/uv.lock

.python-version